<!doctype html>
<html>
  <head>
    <title>Search <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <header>
      <h1>Search <%=shopData.shopName%></h1>
      <p><a href="/">Return to Home</a></p>
    </header>

    <form action="search_result" method="GET">
      <p>Which book are you looking for?</p>
      <input id="search-box" type="text" name="search_text">
      <input type="submit" value="Search" >
    </form>
  </body>
</html>