body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #f9f5f2;
  margin: 0;
  padding: 0;
  color: #d9b8a3;
}

header {
  background-color: #d9b8a3;
  color: white;
  padding: 25px;
  text-align: center;
  letter-spacing: 1px;
}

h1 {
  margin: 0;
  font-size: 30px;
}

/* style for form */
form {
  margin-left: 60px;
  margin-top: 30px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  padding: 8px;
  width: 300px;
  margin-bottom: 15px;
  border: 1px solid #caa088;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #d9b8a3;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* style for table*/
table {
  border-collapse: collapse;
  width: 70%;
  margin-left: 60px;
}

th, td {
  padding: 12px 15px;
  text-align: left;
}

th {
  color: #6b4f3b;
  font-size: 18px;
  font-weight: 600;
}

/* navigation links */
nav {
  margin-top: 10px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}